<div class="row">

  <div class="form-group col-md-3">
    <input class="form-control"
           placeholder="Type to search..."
           [(ngModel)]="filteredString">

  </div>
  <div class="form-group col-md-3">
    <select class="form-select" aria-label="Default select example" [(ngModel)]='optionSelected' (ngModelChange)='onOptionsSelected($event)'>
      <option selected>Order By</option>
      <option value="libelle">libelle</option>
      <option value="code">code</option>
    </select>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-md-auto"
       *ngFor="let rayon of listrayons | async  | filter:filteredString:'libelle'  | sort:optionSelected ; let i = index">
    <div class="card"
         style="width: 18rem;">
      <img class="card-img-top"
           src="https://picsum.photos/id/1/900/500"
           alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ rayon.libelle }}</h5>
        <p class="card-text"> Code : <strong>{{ rayon.code }} $ </strong>
        </p>
        <a href="#" class="btn btn-primary"></a>

        <button class="btn btn-danger btn-sm rounded-0 pull-right m-1"
                type="button"
                (click)="onDelete(rayon.idRayon)"
                data-toggle="tooltip"
                data-placement="top"
                title="Delete"><i class="fa fa-trash"></i></button>
        <a [routerLink]="i+'/edit'">
          <button class="btn btn-success btn-sm rounded-0 pull-right m-1"
                  type="button"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Edit"><i class="fa fa-edit"></i></button>
        </a>
      </div>
    </div>
  </div>
</div>


