<app-new-facture [hidden]="hidden"></app-new-facture>
<div class="animated fadeIn">
  <button (click)="showAddFacture()" class="btn btn-outline-primary">add new facture</button>
  <br>
  <br>
  <div class="container">
    <table class="table table-bordered table-hover table-fluid">
      <thead class="table-dark">
      <tr>
        <td>ID</td>
        <td>montat remise</td>
        <td>montat facture</td>
        <td>date</td>
        <td>active</td>
        <td>client</td>
        <td>detailfacture</td>
        <td>actions</td>
      </tr>
      </thead>
      <tbody class="table-light ">
      <tr *ngFor="let facture of allFactures | paginate: {itemsPerPage: 5, currentPage: page, totalItems: totalLength}">
        <td [routerLink]="['detailfacture/',facture.idFacture]">{{facture.idFacture}}</td>
        <td>{{facture.montantRemise}}</td>
        <td>{{facture.montanttFacture}}</td>
        <td>{{facture.date}}</td>
        <td>{{facture.active}}</td>
        <td>{{facture.client}}</td>
        <td>
          <a *ngFor="let detail of facture.detailFactures">{{detail.idDetailFacture}} </a>
        </td>
        <td>
          <button class="btn btn-outline-warning" [routerLink]="['update/',facture?.idFacture]">modify</button>
          <button class="btn btn-outline-danger" (click)="delete(facture)">Delete</button>
        </td>

      </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="page = $event"> </pagination-controls>
  </div>
</div>


